body {     
	font-family: Arial, Helvetica, sans-serif;     
	font-size: 87.5%;     
	background-color: white;     
	margin: 0 auto;     
	width: 600px;     
	border: 3px solid blue;     
	padding: 10px 20px; 
}  

legend {     
	color: blue;     
	font-weight: bold;     
	margin-bottom: .8em; 
}  

label {     
	float: left;     
	width: 100px; 
}  

input, select {     
	margin-left: 1em;     
	margin-right: 1em;     
	margin-bottom: .5em; 
}  

input {     
	width: 14em; 
} 

input.left {         
	width: 1em;         
	padding-left: 0;     
}  

fieldset {     
	border: none;     
	margin-left: 0;     
	margin-top: 1em;     
	padding: 0; 
}  

input.last {     
	margin-bottom: 1em; 
}  

#adults, #children {     
	width: 35px; 
}  

#smoking {     
	width: 1em;     
	margin-left: 0; 
} 

#policies {     
	margin-left: 0;     
	width: 15em; 
} 

#submit {     
	width: 10em; 
}  

#dialog p {     
	font-size: 85%; 
}

span {     
	color: red; 
}  

#tabs {     
	overflow: hidden;     
	border: 1px solid #ccc;     
	background-color: #f1f1f1; 
}  

#tabs button {         
	background-color: inherit;         
	float: left;         
	border: none;         
	outline: none;         
	cursor: pointer;         
	padding: 14px 16px;         
	transition: 0.3s;     
}  

#tabs button:hover {             
	background-color: #ddd;         
}  
         
#tabs button.active {             
	background-color: #ccc;         
} 

.tabcontent {     
	display: none;     
	padding: 6px 12px;     
	border: 1px solid #ccc;     
	border-top: none; 
}  /* The Close Button */  

.modal-content {     
	background-color: #fefefe;    
	margin: auto;     
	padding: 10px;     
	border: 1px solid #888;     
	width: 15%;     
	z-index: 100;     
	margin-top: 2%; 
}  

.modal {     
	position: fixed; /* Stay in place */     
	z-index: 1; /* Sit on top */     
	padding-top: 100px; /* Location of the box */     
	left: 0;     
	top: 0;     
	width: 100%; /* Full width */     
	height: 100%; /* Full height */     
	overflow: auto; /* Enable scroll if needed */     
	background-color: rgb(0,0,0);     
	background-color: rgba(0,0,0,0.4); 
}   

ul {     
	list-style-type: none;     
	margin: 0;     
	padding: 0;     
	overflow: hidden;     
	background-color: #333; 
}   

ul {     
	background-color: #e5e2e2; 
}  

li {     
	float: left;     
	background-color: white;     
	border-right: 3px solid #e5e2e2;     
	border-left: 3px solid #e5e2e2;     
	border-top: 3px solid #e5e2e2; 
}     

li a {         
	display: block;         
	color: white;         
	text-align: center;         
	padding: 14px 16px;         
	text-decoration: none;         
	color: black;     
}     

li a:hover:not(.active) {             
	background-color: #0094ff;             
	color: white;         
}  

.active, .active > a {     
	background-color: #0094ff;     
	color: white; 
}  

.container {     
		border: 2px solid #e5e2e2;     
		border-radius: 5px;     
		padding: 5px; 
}  

.preferences, .contactInfo {     
			display: none; 
}  

p button {     
	margin-left: 50%; 
}  

.titlePolocy {     
	color: red;     
	font-weight: 600;     
	background-color: #dddcdc; 
}  